body {
	background: url('https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/04/12/16/dilophosaurus-jurassic-park.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
	color: white;
}